#Config file for grow controller
# Based on the configparser module

[temp001]
pin: 2
sensor_type: DHT22
#if there is a library to import at a non included directory, list the directory here.  Otherwise, set it as none
library_path: ~/git/Adafruit

[temp002]
pin: 3
sensor_type: DHT22
#if there is a library to import at a non included directory, list the directory here.  Otherwise, set it as none
library_path: ~/git/Adafruit/~/git/Adafruit_Python_DHT
#
#
#[light001]
#pin: 27
#timeOn: 1500
#timeOff: 1600
#
#
#[fan001]
#pin: 17
#fanOnType: 1
#timeOn: 1500
#timeOff: 1600
#



#[controls]
##relayType is the kind of relay you are using
## Normally open relays: no current can flow through the relay when there is no voltage applied (pin is off)
## Normally closed relays: apply voltage to the relay to set it to the OFF state
## options are: NORMALLY_OPEN or NORMALLY_CLOSED  
#relayType: NORMALLY_OPEN
#
##min and max temperatures, Units of C
## only max temp is used, it turns of the fans, shuts off light
## these should always be absolute min/max, when these values are hit they can kill everything
#maxTemp: 30
#minTemp: 10
#
##interval to record on, in seconds
## Note that this is the pause time between loops, so data will never be recorded at this exact interval
#recordInterval: 15
#
##interval to create a new file at, Units: lines in output file
#fileLength: 1000
#
##output file name
## just the file name, no extensions
#baseFileName: test1