#Config file for grow controller
# Based on the configparser module

[temp001]
pin: 2
sensor_type: DHT22
#if there is a library to import at a non included directory, list the directory here.  Otherwise, set it as none
library_path: ~/git/Adafruit

[temp002]
pin: 3
sensor_type: DHT22
#if there is a library to import at a non included directory, list the directory here.  Otherwise, set it as none
library_path: ~/git/Adafruit/~/git/Adafruit_Python_DHT


[light001]
pin: 27
time_on: 1500
time_off: 1600
#relay_type is the kind of relay you are using
# Normally open relays: no current can flow through the relay when there is no voltage applied (pin is off)
# Normally closed relays: apply voltage to the relay to set it to the OFF state
# options are: NORMALLY_OPEN or NORMALLY_CLOSED  
relay_type: NORMALLY_OPEN


[fan001]
pin: 17
fan_on_type: 1
time_on: 1500
time_off: 1600

#relay_type is the kind of relay you are using
# Normally open relays: no current can flow through the relay when there is no voltage applied (pin is off)
# Normally closed relays: apply voltage to the relay to set it to the OFF state
# options are: NORMALLY_OPEN or NORMALLY_CLOSED  
relay_type: NORMALLY_OPEN


[controls001]
#min and max temperatures, Units of C
# only max temp is used, it turns of the fans, shuts off light
# these should always be absolute min/max, when these values are hit they can kill everything
max_temp: 30
min_temp: 10

#interval to record on, in seconds
# Note that this is the pause time between loops, so data will never be recorded at this exact interval
record_interval: 60

#interval to create a new file at, Units: lines in output file
file_length: 1000

#output file name
# just the file name, no extensions
base_file_name: allNight2_